.bigBox {
    padding: 0 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;

    img {
        width: 50px;
        border-radius: 50%;
    }
}